@import 'scss/main.scss';

$default-color: #111111;

.ROBOTO_14_REGULAR {
  font-family: 'Roboto';
  font-size: 14px;
  color: $default-color;
  font-weight: 400;
  line-height: 1.5;
}

.ROBOTO_16_REGULAR {
  font-family: 'Roboto';
  font-size: 16px;
  color: $default-color;
  font-weight: 400;
  line-height: 1.5;
}

.ROBOTO_16_MEDIUM {
  font-family: 'Roboto';
  font-size: 16px;
  color: $default-color;
  font-weight: 500;
  line-height: 1.5;
}

.ROBOTO_18_REGULAR {
  font-family: 'Roboto';
  font-size: 18px;
  color: $default-color;
  font-weight: 400;
  line-height: 1.5;
}

.ROBOTO_18_MEDIUM {
  font-family: 'Roboto';
  font-size: 18px;
  color: $default-color;
  font-weight: 500;
  line-height: 1.5;
}

.ROBOTO_20_MEDIUM {
  font-family: 'Roboto';
  font-size: 20px;
  color: $default-color;
  font-weight: 500;
  line-height: 1.5;
}

.ROBOTO_22_BOLD {
  font-family: 'Roboto';
  font-size: 22px;
  color: $default-color;
  font-weight: 700;
  line-height: 1.5;
}

.ROBOTO_24_MEDIUM {
  font-family: 'Roboto';
  font-size: 24px;
  color: $default-color;
  font-weight: 500;
}

.ROBOTO_30_MEDIUM {
  font-family: 'Roboto';
  font-size: 30px;
  color: $default-color;
  font-weight: 500;
}

.FORM_ERROR {
  font-family: 'Roboto';
  font-size: 0.75rem;
  color: #f44336;
  font-weight: 400;
  line-height: 1.5;
}

// Colors

.WHITE {
  color: #ffffff;
}

.BLACK {
  color: #000000;
}

.LIGHT_GREY__ABAFBA {
  color: #abafba;
}

.LIGHT_GREY__A4A3A6 {
  color: #a4a3a6;
}

.LIGHT_GREY__858da1 {
  color: #858da1;
}

.LIGHT_GREY__6A6A6A {
  color: #6a6a6a;
}

.LIGHT_GREY__757982 {
  color: #757982;
}

.BLUE {
  color: #3e6fe2;
}

// Utilities

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

@import './Typography.media.scss';
